*.o
.deps
/*.bak
/*.orig
/*.rej
/*.tab.c
/*~
/.*.sw[nop]
/.dirstamp
/.gitignore
/AUTHORS
/COPYING
/ChangeLog
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/ID
/INSTALL
/Makefile
/Makefile.am
/Makefile.in
/NEWS
/README
/TAGS
/aclocal.m4
/autom4te.cache
/compile
/config.cache
/config.h
/config.h.in
/config.log
/config.lt
/config.status
/config.status.lineno
/configure
/configure.ac
/configure.lineno
/depcomp
/install-sh
/libtool
/missing
/so_locations
/stamp-h1
/tags
